{% load staticfiles %}

<html>
    <head>
        <title>Proactive Monitoring</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"rel="stylesheet" media="screen">
        <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <body>
            <div class="page-header">
                <h1><a href="/">Proactive Monitoring</a></h1>
                    <div class="col-md-12 text-right">
                        <div class="btn-group">
                        <a href="/" class="btn btn-default" role="button">Home</a>
                        <a href="/sites" class="btn btn-default" role="button">Sites</a>
                        <a href="/ping" class="btn btn-default" role="button">Ping</a>
                        <a href="/disk" class="btn btn-default" role="button">Disk Usage</a>
                        <a href="/pe" class="btn btn-default" role="button">PE</a>
    	            </div>
                </div>
            </div>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>
