{% extends 'app/base.html' %}

{% block content %}
<style>
h2 {text-align:center;}
</style>
<h2>Disk Usage</h2>
</div>

<style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>

    <table style="width:100%">
        <tr>
            <th>Date/Time</th>
            <th>IP Address</th>
            <th>Site</th>
            <th>Tunnel Name</th>
            <th>Tunnel Type</th>
            <th>Disk Usage</th>
        </tr>
            {% for disk in disks %}
        <tr>
            <td>{{ disk.date }}</td>
            <td>{{ disk.ip }}</td>
            <td>{{ disk.site }}</td>
            <td>{{ disk.tunName }}</td>
            <td>{{ disk.tunType }}</td>
            <td>{{ disk.disk }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
