{% extends 'app/test.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Unreachable Sites</h1>
        <table class="table table-striped">
    <thead>
        <tr>
            <th>Site Name</th>
            <th>Tunnel</th>
            <th>System Type</th>
            <th>Report Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NASH</td>
            <td>PS6</td>
            <td>ICR</td>
            <td>12/12/15</td>
        </tr>
    </tbody>
</table>
</div>
</div>
{% endblock %}
