{% extends 'app/test.html' %}

{% block content %}
<style type="text/css">
    .bs-example{
    	margin: 50px;
    }
</style>

<div class="bs-example">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{ site.site }}</h1>
        </div>
        <table class="table table-striped">
    <thead>
        <tr>
            <th>Division</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ site.division }}</td>
            <td>{{ site.street }}</td>
            <td>{{ site.city }}</td>
            <td>{{ site.state }}</td>
            <td>{{ site.zzip }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
<thead>
<tr>
    <th>Contact Name</th>
    <th>Office Number</th>
    <th>Fax Number</th>
    <th>Cell Number</th>
    <th>Email</th>
</tr>
</thead>
<tbody>
    {% for con in cons %}
<tr>
    <td>{{ con.contact }}</td>
    <td>{{ con.officeNum }}</td>
    <td>{{ con.faxNum }}</td>
    <td>{{ con.conCell }}</td>
    <td>{{ con.email }}</td>
</tr>
    {% endfor %}
</table>
<table class="table table-striped">
<thead>
<tr>
    <th>HUB</th>
    <th>IP Address</th>
    <th>Subnet Mask</th>
    <th>Gateway</th>
    <th>DNS Server</th>
    <th>SNTP Server</th>
    <th>Software</th>

</tr>
</thead>
<tbody>
    {% for hub in hubs %}
<tr>
    <td>{{ site.site }}</td>
    <td>{{ hub.HUB_ip }}</td>
    <td>{{ hub.HUB_mask }}</td>
    <td>{{ hub.HUB_gate }}</td>
    <td>{{ hub.HUB_dns }}</td>
    <td>{{ hub.HUB_ntp }}</td>
    <td>{{ hub.HUB_sw }}</td>
</tr>
    {% endfor %}
</table>

<table class="table table-striped">
<thead>
<tr>
    <th>Tunnel Name</th>
    <th>System Type</th>
    <th>Scale Present?</th>
    <th>SSPC IP</th>
    <th>MSC ETH 1 IP</th>
    <th>MSC ETH 2 IP</th>
</tr>
</thead>
<tbody>
    {% for icr in icrs %}
<tr>
    <td>{{ icr.tunnel }}</td>
    <td>{{ icr.sysType }}</td>
    <td>{{ icr.scale }}</td>
    <td>{{ icr.sspc_ip }}</td>
    <td>{{ icr.msc_ip1 }}</td>
    <td>{{ icr.msc_ip2 }}</td>
</tr>
    {% endfor %}
    {% for uds in udss %}
<tr>
    <td>{{ uds.tunnel }}</td>
    <td>{{ uds.sysType }}</td>
    <td> N/A </td>
    <td>{{ uds.sspc_ip }}</td>
    <td>{{ uds.msc_ip }}</td>
    <td>192.168.0.32</td>
</tr>
    {% endfor %}
</tbody>
</table>

</div>
</div>
{% endblock %}
